#!/usr/bin/env python3

private_dir = "/home/brilliant/work/midymidy/private"
database_dir = "/home/brilliant/work/midymidy/data"

import sys
if private_dir not in sys.path:
    sys.path.insert(1, private_dir)
