/* css */

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 10.5pt;
}

*[lang=zh-cn], *[lang=zh-sg], *[lang=zh] {
    font-family: "Lucida Grande", Cantarell, Ubuntu, Calibri, "Droid Sans", "DejaVu Sans", "Liberation Sans", FreeSans, Helvetica, Arial, "Heiti SC", STHeiti, "Hiragino Sans GB", "Hiragino Sans GB W3", "Hiragino Sans GB W6", "Droid Sans Fallback", "WenQuanYi Micro Hei", "WenQuanYi Micro Hei Light", "WenQuanYi Zen Hei", XHei, "Microsoft Yahei", SimHei, sans-serif, "AR PL New Sung", "AR PL UMing CN", SimSun, "WenQuanYi Bitmap Song";
}

*[lang=zh-tw], *[lang=zh-hk] {
    font-family: "Lucida Grande", Cantarell, Ubuntu, Calibri, "Droid Sans", "DejaVu Sans", "Liberation Sans", FreeSans, Helvetica, Arial, "Heiti TC", STHeiti, "Droid Sans Fallback", "WenQuanYi Micro Hei", "WenQuanYi Micro Hei Light", "WenQuanYi Zen Hei", XHei, "Microsoft JhengHei", sans-serif, "AR PL UMing CN", MingLiu, "WenQuanYi Bitmap Song";
}

*[lang=en], *[lang=en-us] {
    font-family: "Lucida Grande", Cantarell, Ubuntu, Calibri, "Droid Sans", "DejaVu Sans", "Liberation Sans", FreeSans, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
}

h2 {
    font-size: 16pt;
    font-weight: bold;
}
