/* css */

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 10.5pt;
}

*[lang=zh-cn], *[lang=zh-sg], *[lang=zh] {
    font-family: "Lucinda Grande", "Droid Sans", "DejaVu Sans", Cantarell, Ubuntu, "Liberation Sans", FreeSans, Helvetica, Arial, STHeiti, HeiTi-SC, "Hiragino Sans GB", "Hiragino Sans GB W3", "Hiragino Sans GB W6", "Droid Sans Fallback", "WenQuanYi Micro Hei", "WenQuanYi Micro Hei Light", "WenQuanYi Zen Hei", "Microsoft Yahei", SimHei, sans-serif, "AR PL New Sung", "AR PL UMing CN", SimSun, "WenQuanYi Bitmap Song";
}

*[lang=zh-tw], *[lang=zh-hk] {
    font-family: "Lucinda Grande", "Droid Sans", "DejaVu Sans", Cantarell, Ubuntu, "Liberation Sans", FreeSans, Helvetica, Arial, STHeiti, HeiTi-TC, "Droid Sans Fallback", "WenQuanYi Micro Hei", "WenQuanYi Micro Hei Light", "WenQuanYi Zen Hei", "Microsoft JhengHei", sans-serif, "AR PL UMing CN", MingLiu, "WenQuanYi Bitmap Song";
}

*[lang=en], *[lang=en-us] {
    font-family: "Lucinda Grande", "Droid Sans", "DejaVu Sans", Cantarell, Ubuntu, "Liberation Sans", FreeSans, Helvetica, Arial, sans-serif;
}
